<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<h1>Basic Angular Stuff</h1>
<!--
ng-app states the div its in is the owner of the angular app
ng-init can set variables, use ; to seperate multiple ones
-->
<!--
In Angular modules define the application and controllers controll the application

 -->
<div ng-app="" ng-init="value1=2;value2=5;col='black';goals=['Get Angular Running','Try Out Variables','Try Outlists','Modify The UI A Bit'];colours=['red','green','blue']">
    <p>Goals For This Page</p>
    <ul>
        <li ng-repeat="x in goals">
            {{ x }}
        </li>
    </ul>

    <!-- ng-model binds the value to the variable -->
    <p>Type A Name Here : <input type="text" ng-model="name"></p>
    <p>The name you type above shows up here: {{name}}</p>
    <p>Here are the colours you can pick for the math example:</p>
    <ol start="0">
        <li ng-repeat="x in colours">
            {{ x }}
        </li>
    </ol>
    <p>Type the number of the colour you want for the math below:  <input type="text" ng-model="colSelection"/></p>
    <p>Multiplying {{value1}} x {{value2}}</p>
    <p style="color:{{colours[colSelection]}}">Here is some nice math: {{ value1 * value2 }}</p>
</div>

</body>
</html>
